html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	cursor: pointer;
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	padding: 0;
	margin: 0;

	min-width: 320px;
	overflow-x: hidden;

	font-family: $main_font;
	font-size: $base_font_size;
	line-height: $base_line_height;
	font-weight: 300;
	color: $text_color;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

section {
	position: relative;
}

.section {
	overflow: hidden;
	&__bg {
		background: url("../img/section_bg.png") top left/contain no-repeat;
	}
	&__title {
		margin-bottom: 30px;
		font-family: $title_font;
		font-weight: 400;
		font-size: 40px;
		line-height: 1.2;
		letter-spacing: 0.08em;
		@media screen and(max-width: 1440px) {
			margin-bottom: 15px;
		}
		@media screen and(max-width: 1024px) {
			font-size: 35px;
		}
	}
	&__descr {
		@media screen and(max-width: 1024px) {
			font-size: 16px;
		}
		span {
			font-weight: 700;
		}
	}
	&__item {
		margin-top: 25px;
		padding-left: 45px;
		position: relative;
		@media screen and(max-width: 1440px) {
			margin-top: 15px;
		}
		@media screen and(max-width: 1024px) {
			font-size: 16px;
		}
		&::before {
			content: "";
			width: 30px;
			height: 5px;
			position: absolute;
			left: 0;
			top: 15px;
			background-color: $text_color;
		}
	}
}

.watch-video {
	cursor: pointer;
	position: relative;
	width: 71px;
	height: 95px;
	display: flex;
	flex-direction: column;
	transform: rotate(-90deg);
	&:hover {
		.watch-video__img {
			transform: translateY(5px);
		}
	}
	&__text {
		margin-bottom: 5px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12px;
		line-height: 1.2;
		letter-spacing: 0.1em;
	}
	&__img {
		width: 71px;
		height: 64px;
		transition: transform 0.5s;
	}
}

.video {
	width: 58%;

	&__clip,
	&__cover {
		width: 100%;
	}
	&__clip {
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
	}
}

.product {
	&__title {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: -40px;
			top: 50%;
			background-color: $info_color;
		}
		&::before {
			width: 17px;
			height: 1px;
			transform: translateY(-50%);
		}
		&::after {
			width: 1px;
			height: 288px;
		}
	}
	&__colors {
		margin: 55px 0 35px;
		.slick-dots {
			display: flex;
			justify-content: flex-end;
			li {
				margin: 0 15px;
				position: relative;
				@media screen and(max-width: 680px) {
					margin: 0 10px;
				}
				&::before,
				&::after {
					content: "";
					position: absolute;
					background-color: $info_color;
				}
				&::before {
					width: 1px;
					height: 0;
					top: calc(100% + 10px);
					left: 50%;
					transform: translateX(-50%);
					transition: height 0.4s;
				}
				&::after {
					@include size(3px);
					border-radius: 50%;
					top: calc(100% + 57px);
					left: 50%;
					transform: translateX(-50%);
					opacity: 0;
					transition: opacity 0.6s;
				}
				&.slick-active {
					&::before {
						height: 47px;
					}
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
	&__color {
		cursor: pointer;
		@include size(24px);
		display: block;
		border-radius: 50%;
	}
	&__img {
		max-width: 100%;
	}
}

.btn {
	padding: 0 45px;
	height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: $accent_color;
	background-color: #ffffff;
	border-radius: 35px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	filter: url("#gooey");
	position: relative;
	&:focus {
		outline: none;
	}
	&:hover {
		.btn__bubble {
			@for $bubble from 1 through 10 {
				&:nth-child(#{$bubble}) {
					animation: move-#{$bubble} #{3 + $bubble * 0.02}s infinite;
					animation-delay: #{$bubble * 0.2}s;
				}
			}
		}
	}
	&__bubbles {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__bubble {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		border-radius: 100%;
		background-color: #fff;
		@for $bubble from 1 through 10 {
			&:nth-child(#{$bubble}) {
				$size: 25px;
				left: (random(90) + 10) + px;
				width: $size;
				height: $size;
			}
		}
	}
	&__gooey {
		position: absolute;
		top: -4000px;
		left: -4000px;
	}
}

@for $bubble from 1 through 10 {
	@keyframes move-#{$bubble} {
		0% {
			transform: translate(0, 0);
		}
		99% {
			transform: translate(0, -(random(80) + 50) + px);
		}
		100% {
			transform: translate(0, 0);
			opacity: 0;
		}
	}
}
